@import '/src/vars.scss';

.MainPanel {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  width: 100%;
  margin-bottom: 1.042vw;

  @include portrait-orientation {
    flex-direction: column;
    margin-bottom: 48px;
  }

  &__row {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &:nth-child(1) {
      margin-bottom: 1.7vw;
      @include portrait-orientation {
        margin-bottom: 48px;
      }
    }

    @include portrait-orientation {
      flex-direction: column;
    }
  }
}
