@import '/src/vars.scss';

.Search {
  position: relative;

  width: 100%;
  padding: 0.3vw 1.4vw;

  border: 2px solid var(--white);
  border-radius: var(--border-radius-search);
  background-color: transparent;

  transition: border var(--duration);

  text-overflow: ellipsis;
  color: var(--white);
  font-size: 0.73vw;

  @include portrait-orientation($mtab-r) {
    padding: 14px 60px;
    margin-left: 0;

    border-radius: var(--border-radius-search-mob);

    font-size: 22px;
  }

  &::placeholder {
    color: var(--placeholder);
    font-size: 0.64vw;
    font-weight: 500;
    opacity: 0.5;

    @include portrait-orientation {
      position: relative;
      top: -2px;

      font-size: 12px;
      line-height: 22px;
      vertical-align: middle;
    }

    @include adpt-max($xsmob-r) {
      font-size: 10px;
    }
  }

  &__wrapper {
    width: 100%;
    position: relative;
    z-index: 0;

    max-width: 16.15vw;

    @include portrait-orientation {
      max-width: none;
      width: 100%;
      margin-right: 0;
    }
  }

  &__loupe {
    position: absolute;
    z-index: 1;
    left: 0.6vw;
    top: 0.45vw;

    width: 0.73vw;
    height: 0.73vw;

    background-image: url('@img/icons/search_icon.svg');
    background-repeat: no-repeat;
    background-size: cover;

    cursor: pointer;

    @include portrait-orientation {
      left: 24px;
      top: 28%;
      width: 25px;
      height: 25px;
    }
  }

  &__clear {
    position: absolute;
    z-index: 1;
    right: 0.5vw;
    top: 0.4vw;

    width: 0.83vw;
    height: 0.83vw;

    background-image: url('@img/icons/tag_cross.svg');
    background-repeat: no-repeat;
    background-size: cover;

    cursor: pointer;

    @include portrait-orientation {
      right: 23px;
      top: 26%;
      width: 30px;
      height: 27px;
    }
  }

  &__hiddenLabel {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    opacity: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  &__error {
    border: 1px solid var(--highlight);
  }
}

