@import 'fonts';
@import '/src/vars.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat';
  font-weight: normal;
  line-height: normal;
  color: var(--white);
  font-size: 0.83vw;
  overflow: hidden auto;
  @include scrollbar;

  @include portrait-orientation {
    font-size: 16px;
  }
}

